# Dependencies specific to the root ymir package
ymir-common
ymir-tools
litellm!=1.82.7,!=1.82.8
aiohttp>=3.12.15
arize-phoenix-otel>=0.13.0
beautifulsoup4>=4.13.4
beeai-framework[duckduckgo]
copr>=1.129
fastmcp>=2.11.3
ogr>=0.55.0
openinference-instrumentation-beeai>=0.1.8
redis>=6.4.0
requests-gssapi>=1.3.0
rpm>=0.4.0
specfile>=0.36.0
typer>=0.16.0
backoff>=2.2.1
tomli-w>=1.2.0
flexmock>=0.12.2
nitrate>=1.9.0
