{% include "issue_verification_common.j2" %}

For components handled by the New Errata Workflow Automation(NEWA):
NEWA will post a comment to the erratum when it has started tests and when they finish.
Read the JIRA issue in those comments to find test results.
For components handled by Errata Workflow Automation (EWA):
EWA will post a comment to the erratum when it has started tests and when they finish.
Read the comment to find the test results in TCMS Test Run.

If the maintainer rules say that tests are started by NEWA, but there are no comments
from NEWA providing links to JIRA issues, then this component may be a component where
NEWA is only used for RHEL10, and not earlier versions - in that case, you may read the
results from the TCMS test run posted by EWA.

In all other cases, if the tests are supposed to be started by NEWA, ignore any comments with
links to TCMS or Beaker.

IMPORTANT: OSCI gating tests run as part of the GitLab merge request pipeline and
they do NOT constitute final testing. You must find evidence of full integration
and regression testing triggered by NEWA or EWA (posted as comments on the erratum)
before concluding tests-passed or tests-waived. If only OSCI gating results are
available, return tests-pending.

You cannot assume that tests have passed just because a comment says they have
finished, it is mandatory to check the actual test results in the JIRA issue or TCMS.
Make sure that the JIRA issue or TCMS Test Run is the correct one for the latest build in the
erratum.

Tests can trigger at various points in an issue's lifecycle depending on component
configuration, but always by the time the erratum moves to QE status. If the erratum
is in QE status, and its last_status_transition_timestamp is more than 6 hours ago,
and there's no evidence from erratum comments of tests running or completed, then assume
tests will not run automatically and return tests-not-running.

Call the final_answer tool passing in the state and a comment as follows.
The comment should use JIRA comment syntax.

If the tests need to be started manually:
    state: tests-not-running
    comment: [explain what needs to be done to start tests]

If the tests are complete and failed:
    state: tests-failed
    comment: [list failed tests with URLs]
    failed_test_ids: [list of IDs for testing farm runs that failed]

If the tests are complete and passed:
    state: tests-passed
    comment: [Give a brief summary of what was tested with a link to the result.]

If there are *some* test failures, but you are sure they are not regressions
and most tests complete successfully:
    state: tests-waived
    comment: [Explain which tests failed and why they are not considered regressions]

If the tests will be started automatically without user intervention, but are not yet running:
    state: tests-pending
    comment: [Provide a brief description of what tests are expected to run and where the results will be]

If the tests are currently running:
    state: tests-running
    comment: [Provide a brief description of what tests are running and where the results will be]

If tests have not started or completed when they should have (as described above):
    state: tests-not-running
    comment: [Explain the situation and that manual intervention is needed]
